.skills{
   
    display: flex;
    margin-left: 5%;
    gap: 10%;
    color: green;

    margin-bottom: 5%;
}
.education{
    /* margin-left: 10%; */
}
.skills img{
    width: 60px;
    height: 60px;
}
.skill{
    display: flex;
    gap: 2%;
    border-left: solid 10px;
    border-radius: 10%;
    padding: 3%;
}
.skill2{
    display: flex;
    gap: 2%;
}
.skill2 img{
    width: 100px;
    height: 100px;
}
.new-icon{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    color: green;
}
.h1{
    display: flex;
    gap: 2%;
    margin-left: 40%;
    
}
h1{
    color: green;
    /* text-align: center; */
}
h3{
 margin-left: 5%;   
}
.p{
    margin-left: 5%;
}
