.sidebar{
  border: solid rgb(210, 206, 206); 
  text-align: center;
  width: 300px;
  border-radius: 10%;
  /* padding: 1%; */

}
.sidebar h1{
    font-size: 30px;
}
.sidebar img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
.sidebar .icons{
    display: flex;
    gap: 8%;
    text-align: center;
    align-items: center;
}
.sidebar p{
    font-size: 12px;
}
.icon{
    border-radius: 100%;
    background-color: wheat;
    /* box-shadow: 5px 5px  wheat; */
    padding: 15%;
    width: 40px;
    height: 40px;
    color: green;
   
}
.icon1{
    margin-left: 20%;
    /* margin: 3%; */
    

}
.icons{
    margin-bottom: 5%;
}
.media{
    color: green;
    gap: 10%;
}
.m-icon{
    width: 50px;
    height: 50px;
}